<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="footer">
                <span>Let's chat </span><a href="https://www.github.com/zsediqyar" target="_blank"><i class="fab fa-github"></i></a>
                <p>
                    &copy; <script>document.write(new Date().getFullYear());</script>
                </p>
            </div>
        </div>
    </div>
</div>