<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar">
                <a href="/" class="logo">
                    <img src="/imgs/logo.png" height="100" alt="">
                </a>
                <ul class="nav-links">
                    <li class="nav-items"><a href="/onesite">One site</a></li>
                    <li class="nav-items"><a href="/multisite">Multiple Sites</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>