<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1 class="primary-title">site monitor</h1>
                <h3 class="secondary-title">check the status of any website</h3>
                <a href="/onesite" class="btn cta">Let's do it</a>
            </div>
        </div>
    </div>
</div>