{{>header}}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="multisite-title-box">
                <h1 class="secondary-title multisite-title">check multiple sites</h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="multisite-form-box">
                <form action="/multisite" method="POST" enctype="multipart/form-data">
                    <div class="form-group first-row">
                        <div class="custom-file mb-3">
                            <input type="file" class="custom-file-input" name="uploadedFile" id="fileUpload" hidden required/>
                            <label for="fileUpload" id="fileLabel">Choose File &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>.CSV</span></label>
                        <input type="submit" value="Upload" class="btn upload" id="uploadbtn" onclick="validateExtension()">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="uploadResultBox" id="fileUploadBox">
                <span id="fileName">{{name}}</span>
                <h2 id="fileUploadName"></h2>
                <a href="/renderfile" class="btn render" id="renderBtn">Render Result</a>
            </div>
        </div>
    </div>
</div>



{{>footer}}





<script>
    function fileUploadName() {
        let fileupload = document.getElementById("fileUpload");
        let filelabel = document.getElementById("fileLabel");
        fileupload.onchange = function() {
            filelabel.textContent = this.files[0].name;
        }
    }
    fileUploadName();

    function validateExtension() {
        let fileName = document.getElementById("fileUploadName");
        let fileInput = document.getElementById("fileUpload");
        let renderBtn = document.getElementById("renderBtn");
        let filePath = fileInput.value;
        let fileExt = filePath.substring(filePath.length - 4);
        let allowedExt = '.csv';
        if(fileExt == allowedExt) {
            fileName.innerHTML = "your file has been uploaded";
        } else {
            fileName.innerHTML = "Incorrect file extension, please select another one";
            event.preventDefault();
        }

    }
</script>
