/* variables */
:root {
    --color-main-green: #55c57a;
    --color-light-green: #7ed56f;
    --color-dark-green: #28b485;
    --color-abstract-green: #5C8B3F;
    --color-dark-gray: #777;
    --color-white: #fff;
    --color-black: #000;
    --color-light-gray: #f7f7f7;
    --color-light-orance: #ffb900;
    --color-dark-orange: #ff7730;
    --fontsize-default: 1.6rem;
}

/* initial setup */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; //10px 
    color: var(--color-dark-gray);
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: var(--color-dark-gray);
    box-sizing: border-box;
    font-size: var(--fontsize-default);
}

::selection {
    background: var(--color-light-green);
    color: var(--color-white);
}


/* index page css */
.jumbotron {
    background: none;
    padding: 5rem;
    margin: 0 auto;
    text-align: center;
    margin-top: 15vh;
}

.primary-title {
    text-transform: uppercase;
    font-size: 8rem;
    letter-spacing: 8;
    margin: 1.5rem 0;
    font-weight: bold;
}

.secondary-title {
    text-transform: uppercase;
    letter-spacing: 3.5;
    margin: 1.5rem 0;
    font-size: 3rem;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: var(--fontsize-default);
}

.btn:hover {
    transform: translateY(-.3rem);
    box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.cta {
    background-color: var(--color-main-green);
    color: var(--color-white);
    margin-top: 2rem;
}

.cta:hover {
    color: var(--color-white);
}


/* one site page css */
.onesite-title-box {
    margin: 10vh auto 0 auto;
    padding: 2rem 5rem;
    text-align: center;
}

.onesite-title {
    font-size: 5rem;
}

.onesite-form-box {
    text-align: center;
    margin: 0 auto;
    padding: 4rem 2rem;
}

.first-row {
    display: flex;
}

.onesite-form-box input[name="site"] {
    padding: .5rem 2rem;
    margin-right: 2rem;
    width: 50%;
    font-size: var(--fontsize-default);
    outline: none;
    border-style: solid;
    border-color: var(--color-dark-gray);
}

.onesite-form-box input[name="receiver"] {
    padding: .5rem 2rem;
    margin-right: 2rem;
    width: 30%;
    font-size: var(--fontsize-default);
    outline: none;
    border-style: solid;
    border-color: var(--color-dark-gray);
    background-color: #c9c9c9;
}

.onesite-form-box input::placeholder {
    font-size: var(--fontsize-default);
}

.onesite-form-box input[type="text"]:focus {
    background-color: var(--color-light-gray);
}


small {
    display: inline-block;
    float: left;
    margin-left: 1rem;
    vertical-align: bottom;
    padding-top: .5rem;
    color: var(--color-dark-green);
}

.checkmark {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--color-light-gray);
    position: relative;
    transition: background-color .2s;
    float: left;
}

#updatecheckbox:checked~.checkmark {
    background-color: var(--color-dark-green);
}

.checkmark::after {
    content: "";
    position: absolute;
    height: 1.8rem;
    width: 1rem;
    border-right: .2rem solid var(--color-white);
    border-bottom: .2rem solid var(--color-white);
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) rotateZ(45deg);
    opacity: 0;
    transition: all .2s;
}

#updatecheckbox:checked~.checkmark::after {
    opacity: 1;
}

.checksite {
    padding: .745rem 2rem !important;
    background-color: var(--color-main-green);
    color: var(--color-white);
    border-radius: 0;
    font-size: var(--fontsize-default);
    text-transform: uppercase;
}

.checksite:hover {
    color: var(--color-white);
    transform: translateX(-.1rem);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
    transition: all .2s ease-in-out;
}

.checksite:active {
    transform: translateX(-.1rem);
    box-shadow: 0 0.5rem .5rem rgba(0, 0, 0, 0.2);
}

.result-box {
    padding: 2rem 4rem;
}

.result-box h2 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1rem;

}

#statusResult {
    font-size: 2rem;
    padding: .3rem 1rem;
    vertical-align: middle;
    margin-bottom: 1rem;
}

.result-box h3 {
    padding: .3rem 1rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-size: var(--fontsize-default);
    opacity: 0;
}

#statusCode {
    padding: .3rem 1rem;
    vertical-align: middle;
    margin-bottom: 1rem;
}

/* multi site page css */
.multisite-title-box {
    margin: 10vh auto 0 auto;
    padding: 2rem 5rem;
    text-align: center;
}

.multisite-title {
    font-size: 5rem;
}

.multisite-form-box {
    text-align: center;
    margin: 0 auto;
    padding: 4rem 2rem;
}


#fileLabel {
    display: inline-block;
    padding: 1rem 2rem;
    width: 70%;
    border: 1px solid var(--color-dark-gray);
    text-transform: uppercase;
    vertical-align: top;
    font-size: 1.2rem;
}

#fileLabel:hover {
    cursor: pointer;
}

#fileLabel:active,
#fileLabel:focus {
    background: var(--color-light-gray);
}

#fileLabel span {
    font-size: 1rem;
    color: var(--color-dark-green);
}

.upload {
    padding: .745rem 2rem !important;
    background-color: var(--color-main-green);
    color: var(--color-white);
    border-radius: 0;
    font-size: var(--fontsize-default);
    text-transform: uppercase;
    /* margin-top: 2rem; */
}

.upload:hover {
    color: var(--color-white);
    transform: translateX(-.1rem);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
    transition: all .2s ease-in-out;
}

.upload:active {
    transform: translateX(-.1rem);
    box-shadow: 0 0.5rem .5rem rgba(0, 0, 0, 0.2);
}

.render {
    padding: .745rem 2rem !important;
    border: 2px solid var(--color-main-green);
    border-radius: 0 !important;
    color: var(--color-dark-gray);
    border-radius: 0;
    font-size: var(--fontsize-default);
    text-transform: uppercase;
    transition: all .3s;
    letter-spacing: .2rem;
}

.render:hover {
    color: var(--color-white);
    background-color: var(--color-main-green);
    transform: translateX(-.1rem);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
    transition: all .2s ease-in-out;
}

.render:active {
    transform: translateX(-.1rem);
    box-shadow: 0 0.5rem .5rem rgba(0, 0, 0, 0.2);
}

.uploadResultBox {
    margin: 0 auto;
    text-align: center;
    padding: 2rem 4rem;
}

#fileUploadName {
    margin: 0 0 2rem 0;
    text-transform: uppercase;
    font-size: var(--fontsize-default);
    letter-spacing: .15rem;
}

#fileName {
    display: none;
}

/* multisite result render page */
.renderSitesBox {
    /* text-align: center; */
    margin: 0 auto;
    padding: 2rem 4rem;
    text-transform: uppercase;
    font-weight: 100;
}

.renderSiteNames {
    font-size: 2.5rem;
    display: inline-block;
    margin-right: 1rem;
    text-align: left;
    width: 70%;
    padding: .5rem 0;
}

.renderSiteCodes {
    /* display: inline-block; */
    font-size: 2.5rem;
    margin-left: 1rem;
    text-align: right;
    right: 5%;
    width: 25%;
    padding: .5rem 2;
}

.success {
    background-color: var(--color-main-green);
    color: var(--color-white);
    padding-right: .5rem;
    padding-left: .5rem;
}


.error {
    background-color: var(--color-dark-orange);
    color: var(--color-white);
}

.clearBtnWrapper {
    width: 100%;
    padding: 1rem 0;
    margin: 2rem auto;
    text-align: center;
}

.clearList {
    width: 20%;
    margin-top: 2rem;
    padding: 1rem 0;
    font-size: var(--fontsize-default);
    background: var(--color-main-green);
    text-transform: uppercase;
    border-radius: 0 !important;
    color: var(--color-white);
}

.clearList:hover {
    color: var(--color-white);
}

/* header partial */
.logo {
    display: inline-block;
}

.logo img {
    vertical-align: bottom;
    margin-left: 5rem;
    margin-top: 2rem;
    /* padding-top: 2rem; */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    padding-top: 0;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-right: 4rem;
}

.nav-items a {
    display: inline-block;
    text-decoration: none;
    color: var(--color-main-green);
    text-transform: uppercase;
    padding: 2rem 1rem;
    margin: 0 .5rem;
    margin-top: 0;
    /* margin-top: 1.5rem; */
    vertical-align: middle;
    transition: all .4s;
    border-bottom: .4rem solid var(--color-main-green);
}

.nav-items a:hover {
    background-color: var(--color-main-green);
    color: var(--color-white);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

/* footer partial */
.footer {
    left: 0;
    bottom: 5rem;
    width: 100%;
    position: fixed;
    height: 4rem;
    text-align: center;
}

.footer a {
    color: var(--color-dark-orange);
    font-size: 2.5rem;
    display: inline-block;
    transition: all .3s;
}

.footer a:hover {
    transform: scale(1.2);
}

.footer span {
    margin-right: 1rem;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.footer p {
    font-size: 1.3rem;
}